h1 {
    color: darkblue;        
    text-align: center;          
}
  
h2 {
    color: darkgreen;         
}
  
p {
    font-size: 16px;   
}
  
p.small {
    font-size: 12px;          
}
  
p.large {
    font-size: 23px;        
}
  
p.bold {
    font-weight: bold;       
}
  

.background-container {
    background-color: #f0f8ff;  
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxMWgYPNeWUwopXzxCkbjlrSh7EKGcwFlN6w&s'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
  

.box {
    padding: 15px; 
    margin: 10cm;               
    border: 2px solid gray;      
}
  

.size-box {
    width: 200px;
    height: 100px;
    border: 1px dotted black;
    margin-bottom: 10px;
}
  
.overflow-hidden {
    overflow: hidden;     
}
  
.overflow-scroll {
    overflow: scroll;     
}
